### Creating a Pandas DataFrame

In [5]:
import pandas as pd
import numpy as np

# 1. From a Dictionary of Lists
data1 = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 28, 22],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}
df1 = pd.DataFrame(data1)
print("DataFrame from Dictionary of Lists:\n", df1)

# 2. From a List of Dictionaries
data2 = [
    {'Name': 'Alice', 'Age': 25, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 30, 'City': 'London'},
    {'Name': 'Charlie', 'Age': 28},  # City missing for Charlie
    {'Name': 'David', 'Age': 22, 'City': 'Tokyo'}
]
df2 = pd.DataFrame(data2)
print("\nDataFrame from List of Dictionaries:\n", df2)

# 3. From a 2D NumPy Array (with dtype handling)
data3 = np.array([
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'London'],
    ['Charlie', 28, 'Paris'],
    ['David', 22, 'Tokyo']
], dtype=object)  # Use dtype=object for mixed types

df3 = pd.DataFrame(data3, columns=['Name', 'Age', 'City'])
df3['Age'] = pd.to_numeric(df3['Age']) # added to convert object to numeric type
print("\nDataFrame from 2D NumPy Array:\n", df3)
print("\nData type of Age column (NumPy):\n", df3['Age'].dtype)


# 4. From a Series
series_data = pd.Series([10, 20, 30, 40])
df4 = pd.DataFrame(series_data, columns=['Values'])
print("\nDataFrame from Series:\n", df4)

# 5. Specifying data types (dtype) - Corrected
df5 = pd.DataFrame(data1).astype({'Age': 'int32'})  # Use astype() for dictionary input
print("\nDataFrame with specified dtype:\n", df5)
print("\nData type of Age column:", df5['Age'].dtype)

# 6. Indexing
df6 = pd.DataFrame(data1).set_index('Name')
print("\nDataFrame with 'Name' as index:\n", df6)

# 7. From a CSV file (Example - requires a data.csv file)
# Create a sample CSV file named data.csv with the following content:
# Name,Age,City
# Alice,25,New York
# Bob,30,London
# Charlie,28,Paris
# David,22,Tokyo

try:  # Added a try-except block to handle potential FileNotFoundError
    df7 = pd.read_csv("data.csv")
    print("\nDataFrame from CSV:\n", df7)
except FileNotFoundError:
    print("\nCSV file 'data.csv' not found. Please create the file.")


# 8. From a list of tuples
data8 = [('Alice', 25, 'New York'), ('Bob', 30, 'London'), ('Charlie', 28, 'Paris')]
df8 = pd.DataFrame(data8, columns=['Name', 'Age', 'City'])
print("\nDataFrame from a List of Tuples:\n", df8)


# 9. From a list of lists
data9 = [['Alice', 25, 'New York'], ['Bob', 30, 'London'], ['Charlie', 28, 'Paris']]
df9 = pd.DataFrame(data9, columns=['Name', 'Age', 'City'])
print("\nDataFrame from a List of Lists:\n", df9)

DataFrame from Dictionary of Lists:
       Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   28     Paris
3    David   22     Tokyo

DataFrame from List of Dictionaries:
       Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   28       NaN
3    David   22     Tokyo

DataFrame from 2D NumPy Array:
       Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   28     Paris
3    David   22     Tokyo

Data type of Age column (NumPy):
 int64

DataFrame from Series:
    Values
0      10
1      20
2      30
3      40

DataFrame with specified dtype:
       Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   28     Paris
3    David   22     Tokyo

Data type of Age column: int32

DataFrame with 'Name' as index:
          Age      City
Name
Alice     25  New York
Bob       30    London
Charlie   28     Paris
David     22     Tokyo

CSV file 'data.csv' not found. Please create the file.

DataFrame from a List of Tuples:
       Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   28     Paris

DataFrame from a List of Lists:
       Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   28     Paris

### Accessing Data in DataFrame

In [6]:
import pandas as pd

# Creating a sample DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}
df = pd.DataFrame(data)

# Display the DataFrame
print("Original DataFrame:\n", df, "\n")

# 1- Accessing Columns
print("Accessing Columns:")
print(df["Name"])  # Accessing a single column
print(df.Age)       # Another way to access a single column
print(df[["Name", "City"]])  # Accessing multiple columns
print()  # Newline for readability

# 2- Accessing Rows by Index (.iloc[])
print("Accessing Rows by Index using .iloc[]:")
print(df.iloc[0])  # First row (Index 0)
print(df.iloc[1:3])  # Slicing rows from index 1 to 2
print()  # Newline for readability

# 3- Accessing Rows by Label (.loc[])
df.index = ["a", "b", "c"]  # Setting custom labels for rows
print("Updated DataFrame with custom index labels:\n", df, "\n")
print("Accessing Rows by Label using .loc[]:")
print(df.loc["a"])  # Accessing row by label "a"
print(df.loc[["a", "c"]])  # Accessing multiple rows by labels
print()  # Newline for readability

# Additional: Accessing Specific Elements
print("Accessing Specific Elements:")
print(df.at["a", "Age"])  # Accessing element using .at[] (Label-based)
print(df.iat[0, 1])  # Accessing element using .iat[] (Index-based)
print()  # Newline for readability

# Additional: Filtering Data
print("Filtering Data:")
print(df[df["Age"] > 25])  # Filtering rows based on column values

Original DataFrame:
       Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Accessing Columns:
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
0    25
1    30
2    35
Name: Age, dtype: int64
      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago

Accessing Rows by Index using .iloc[]:
Name       Alice
Age           25
City    New York
Name: 0, dtype: object
      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Updated DataFrame with custom index labels:
       Name  Age         City
a    Alice   25     New York
b      Bob   30  Los Angeles
c  Charlie   35      Chicago

Accessing Rows by Label using .loc[]:
Name       Alice
Age           25
City    New York
Name: a, dtype: object
      Name  Age      City
a    Alice   25  New York
c  Charlie   35   Chicago

Accessing Specific Elements:
25
25

Filtering Data:
      Name  Age         City
b      Bob   30  Los Angeles
c  Charlie   35      Chicago

### Modifying a DataFrame

In [7]:
import pandas as pd

# Creating a sample DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}
df = pd.DataFrame(data)

# Display the DataFrame
print("Original DataFrame:\n", df, "\n")

# 1- Accessing Columns
print("Accessing Columns:")
print(df["Name"])  # Accessing a single column
print(df.Age)       # Another way to access a single column
print(df[["Name", "City"]])  # Accessing multiple columns
print()  # Newline for readability

# 2- Accessing Rows by Index (.iloc[])
print("Accessing Rows by Index using .iloc[]:")
print(df.iloc[0])  # First row (Index 0)
print(df.iloc[1:3])  # Slicing rows from index 1 to 2
print()  # Newline for readability

# 3- Accessing Rows by Label (.loc[])
df.index = ["a", "b", "c"]  # Setting custom labels for rows
print("Updated DataFrame with custom index labels:\n", df, "\n")
print("Accessing Rows by Label using .loc[]:")
print(df.loc["a"])  # Accessing row by label "a"
print(df.loc[["a", "c"]])  # Accessing multiple rows by labels
print()  # Newline for readability

# Additional: Accessing Specific Elements
print("Accessing Specific Elements:")
print(df.at["a", "Age"])  # Accessing element using .at[] (Label-based)
print(df.iat[0, 1])  # Accessing element using .iat[] (Index-based)
print()  # Newline for readability

# Additional: Filtering Data
print("Filtering Data:")
print(df[df["Age"] > 25])  # Filtering rows based on column values
print()  # Newline for readability

# Modifying a DataFrame
# Adding a New Column
print("Adding a New Column:")
df["Salary"] = [50000, 60000, 70000]  # Adding a new column
print(df, "\n")

# Dropping Columns or Rows
print("Dropping a Column:")
df = df.drop(columns=["City"])  # Dropping a column
print(df, "\n")

print("Dropping a Row:")
df = df.drop(index=["b"])  # Dropping a row
print(df, "\n")

Original DataFrame:
       Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Accessing Columns:
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
0    25
1    30
2    35
Name: Age, dtype: int64
      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago

Accessing Rows by Index using .iloc[]:
Name       Alice
Age           25
City    New York
Name: 0, dtype: object
      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Updated DataFrame with custom index labels:
       Name  Age         City
a    Alice   25     New York
b      Bob   30  Los Angeles
c  Charlie   35      Chicago

Accessing Rows by Label using .loc[]:
Name       Alice
Age           25
City    New York
Name: a, dtype: object
      Name  Age      City
a    Alice   25  New York
c  Charlie   35   Chicago

Accessing Specific Elements:
25
25

Filtering Data:
      Name  Age         City
b      Bob   30  Los Angeles
c  Charlie   35      Chicago

Adding a New Column:
      Name  Age         City  Salary
a    Alice   25     New York   50000
b      Bob   30  Los Angeles   60000
c  Charlie   35      Chicago   70000

Dropping a Column:
      Name  Age  Salary
a    Alice   25   50000
b      Bob   30   60000
c  Charlie   35   70000

Dropping a Row:
      Name  Age  Salary
a    Alice   25   50000
c  Charlie   35   70000

###  Filtering and Boolean Indexing

In [10]:
import pandas as pd

# Creating a sample DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 35, 40],
    "City": ["New York", "Los Angeles", "Chicago", "Houston"]
}
df = pd.DataFrame(data)

# Display the DataFrame
print("Original DataFrame:\n", df, "\n")

# Filtering and Boolean Indexing

# 1- Filtering Rows Based on Conditions
print("Filtering Rows Based on Conditions:")
print(df[df["Age"] > 30])  # Filtering rows where Age is greater than 30
print()  # Newline for readability

# 2- Using .isin() to Filter
print("Using .isin() to Filter:")
print(df[df["City"].isin(["New York", "Chicago"])])  # Filtering rows where City is either New York or Chicago
print()  # Newline for readability

Original DataFrame:
       Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

Filtering Rows Based on Conditions:
      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston

Using .isin() to Filter:
      Name  Age      City
0    Alice   25  New York
2  Charlie   35   Chicago

### DataFrame Operations

In [11]:
import pandas as pd

# Creating a sample DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 35, 40],
    "Salary": [50000, 60000, 70000, 80000]
}
df = pd.DataFrame(data)

# Display the DataFrame
print("Original DataFrame:\n", df, "\n")

# DataFrame Operations

# 1- Mathematical Operations
print("Mathematical Operations:")
print("Sum of Ages:", df["Age"].sum())  # Sum of Age column
print("Mean Salary:", df["Salary"].mean())  # Mean of Salary column
print()  # Newline for readability

# 2- Applying Functions Row/Column-wise (.apply())
print("Applying Functions using .apply():")
print("Doubling Age Column:")
print(df["Age"].apply(lambda x: x * 2))  # Applying function to double the Age
print()  # Newline for readability

print("Length of Names:")
print(df["Name"].apply(len))  # Applying function to get length of each name
print()  # Newline for readability

Original DataFrame:
       Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000

Mathematical Operations:
Sum of Ages: 130
Mean Salary: 65000.0

Applying Functions using .apply():
Doubling Age Column:
0    50
1    60
2    70
3    80
Name: Age, dtype: int64

Length of Names:
0    5
1    3
2    7
3    5
Name: Name, dtype: int64

### Grouping and Aggregating Data

In [13]:
import pandas as pd

# Creating a sample DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Age": [25, 30, 35, 40, 30],
    "Salary": [50000, 60000, 70000, 80000, 60000],
    "Department": ["HR", "IT", "IT", "HR", "Finance"]
}
df = pd.DataFrame(data)

# Display the DataFrame
print("Original DataFrame:\n", df, "\n")

# DataFrame Operations

# 1- Mathematical Operations
print("Mathematical Operations:")
print("Sum of Ages:", df["Age"].sum())  # Sum of Age column
print("Mean Salary:", df["Salary"].mean())  # Mean of Salary column
print()  # Newline for readability

# 2- Applying Functions Row/Column-wise (.apply())
print("Applying Functions using .apply():")
print("Doubling Age Column:")
print(df["Age"].apply(lambda x: x * 2))  # Applying function to double the Age
print()  # Newline for readability

print("Length of Names:")
print(df["Name"].apply(len))  # Applying function to get length of each name
print()  # Newline for readability

# Grouping and Aggregating Data

# 1- Grouping Data (.groupby())
print("Grouping Data by Department:")
grouped = df.groupby("Department")
print(grouped[["Age", "Salary"]].mean())  # Display mean only for numeric columns
print()  # Newline for readability

# 2- Aggregating Data (.agg())
print("Aggregating Data using .agg():")
print(df.groupby("Department")[["Age", "Salary"]].agg({"Age": "mean", "Salary": ["min", "max"]}))  # Aggregating multiple statistics
print()  # Newline for readability

Original DataFrame:
       Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000         IT
2  Charlie   35   70000         IT
3    David   40   80000         HR
4      Eve   30   60000    Finance

Mathematical Operations:
Sum of Ages: 160
Mean Salary: 64000.0

Applying Functions using .apply():
Doubling Age Column:
0    50
1    60
2    70
3    80
4    60
Name: Age, dtype: int64

Length of Names:
0    5
1    3
2    7
3    5
4    3
Name: Name, dtype: int64

Grouping Data by Department:
             Age   Salary
Department
Finance     30.0  60000.0
HR          32.5  65000.0
IT          32.5  65000.0

Aggregating Data using .agg():
             Age Salary
            mean    min    max
Department
Finance     30.0  60000  60000
HR          32.5  50000  80000
IT          32.5  60000  70000

In [15]:
# 1. Concatenating DataFrames
# Concatenating DataFrames vertically or horizontally using pd.concat()

df1 = pd.DataFrame({'A': [1, 2]})
df2 = pd.DataFrame({'B': [3, 4]})
df_concat = pd.concat([df1, df2], axis=1)
print(df_concat)
# Output:
#    A  B
# 0  1  3
# 1  2  4

# 2. Merging DataFrames (pd.merge())
# Merge DataFrames based on common columns or indices

df1 = pd.DataFrame({'key': ['A', 'B'], 'value': [1, 2]})
df2 = pd.DataFrame({'key': ['A', 'B'], 'value2': [3, 4]})
df_merged = pd.merge(df1, df2, on='key')
print(df_merged)
# Output:
#   key  value  value2
# 0   A      1       3
# 1   B      2       4

# 3. Handling Missing Data
# a. Filling Missing Values (.fillna())

df = pd.DataFrame({'A': [1, None, 3]})
df_filled = df.fillna(0)
print(df_filled)
# Output:
#      A
# 0  1.0
# 1  0.0
# 2  3.0

# b. Dropping Missing Values (.dropna())

df = pd.DataFrame({'A': [1, None, 3], 'B': [4, 5, None]})
df_dropped = df.dropna()
print(df_dropped)
# Output:
#      A    B
# 0  1.0  4.0

# 4. Sorting Data
# a. Sorting by Column Values (.sort_values())

df = pd.DataFrame({'A': [3, 1, 2]})
df_sorted = df.sort_values(by='A')
print(df_sorted)
# Output:
#    A
# 1  1
# 2  2
# 0  3

# b. Sorting by Index (.sort_index())

df = pd.DataFrame({'A': [1, 2, 3]}, index=[2, 0, 1])
df_sorted = df.sort_index()
print(df_sorted)
# Output:
#    A
# 0  2
# 1  3
# 2  1

# 5. Statistical Functions
# a. Descriptive Statistics (.describe())

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.describe())
# Output:
#          A    B
# count  3.0  3.0
# mean   2.0  5.0
# std    1.0  1.0
# min    1.0  4.0
# 25%    1.5  4.5
# 50%    2.0  5.0
# 75%    2.5  5.5
# max    3.0  6.0

# b. Correlation (.corr())

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.corr())
# Output:
#      A    B
# A  1.0  1.0
# B  1.0  1.0

# 6. Pivoting and Reshaping
# a. Pivoting Data (.pivot_table())

df = pd.DataFrame({'A': ['foo', 'bar', 'foo'], 'B': [1, 2, 3]})
pivot_df = df.pivot_table(values='B', index='A', aggfunc='mean')
print(pivot_df)
# Output:
#        B
# A       
# bar  2.0
# foo  2.0

# b. Reshaping with .melt()

df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
melted_df = pd.melt(df, id_vars='A', value_vars=['B'])
print(melted_df)
# Output:
#    A variable  value
# 0  1        B      3
# 1  2        B      4

# 7. Indexing and Selecting Data
# a. Resetting the Index (.reset_index())

df = pd.DataFrame({'A': [1, 2, 3]}, index=['x', 'y', 'z'])
df_reset = df.reset_index()
print(df_reset)
# Output:
#   index  A
# 0     x  1
# 1     y  2
# 2     z  3

# b. Reindexing the DataFrame (.reindex())

df = pd.DataFrame({'A': [1, 2, 3]}, index=['a', 'b', 'c'])
df_reindexed = df.reindex(['c', 'b', 'a', 'd'])
print(df_reindexed)
# Output:
#      A
# c  3.0
# b  2.0
# a  1.0
# d  NaN

# 8. Combining DataFrames
# a. Appending Rows using pd.concat()

df1 = pd.DataFrame({'A': [1, 2]})
df2 = pd.DataFrame({'A': [3, 4]})
df_appended = pd.concat([df1, df2], ignore_index=True)
print(df_appended)
# Output:
#    A
# 0  1
# 1  2
# 2  3
# 3  4

# 9. Time Series Handling
# a. Handling Dates and Times (pd.to_datetime())

df = pd.DataFrame({'A': ['2023-01-01', '2023-02-01']})
df['A'] = pd.to_datetime(df['A'])
print(df)
# Output:
#            A
# 0 2023-01-01
# 1 2023-02-01

# b. Resampling Time Series Data (.resample())

df = pd.DataFrame({'A': pd.date_range('2023-01-01', periods=4, freq='D'), 'B': [1, 2, 3, 4]})
df_resampled = df.resample('2D', on='A').sum()
print(df_resampled)
# Output:
#             B
# A             
# 2023-01-01  3
# 2023-01-03  7

   A  B
0  1  3
1  2  4
  key  value  value2
0   A      1       3
1   B      2       4
     A
0  1.0
1  0.0
2  3.0
     A    B
0  1.0  4.0
   A
1  1
2  2
0  3
   A
0  2
1  3
2  1
         A    B
count  3.0  3.0
mean   2.0  5.0
std    1.0  1.0
min    1.0  4.0
25%    1.5  4.5
50%    2.0  5.0
75%    2.5  5.5
max    3.0  6.0
     A    B
A  1.0  1.0
B  1.0  1.0
       B
A
bar  2.0
foo  2.0
   A variable  value
0  1        B      3
1  2        B      4
  index  A
0     x  1
1     y  2
2     z  3
     A
c  3.0
b  2.0
a  1.0
d  NaN
   A
0  1
1  2
2  3
3  4
           A
0 2023-01-01
1 2023-02-01
            B
A
2023-01-01  3
2023-01-03  7

In [16]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)

# 1. Basic Indexing
# a. Single Column Selection
age_column = df['Age']
print(age_column)
# Output:
# 0    25
# 1    30
# 2    35
# Name: Age, dtype: int64

# b. Multiple Columns Selection
selected_columns = df[['Name', 'City']]
print(selected_columns)
# Output:
#       Name           City
# 0    Alice       New York
# 1      Bob  San Francisco
# 2  Charlie    Los Angeles

# 2. Label-Based Indexing with .loc[]
# a. Select rows and columns by label using .loc[]
selected_data = df.loc[0, 'Name']  # First row, "Name" column
print(selected_data)
# Output:
# Alice

# b. Multiple Rows and Columns with .loc[]
selected_data = df.loc[0:1, ['Name', 'City']]  # Select rows 0 and 1, columns "Name" and "City"
print(selected_data)
# Output:
#     Name           City
# 0  Alice       New York
# 1    Bob  San Francisco

# 3. Position-Based Indexing with .iloc[]
# a. Select data using .iloc[] (by integer position)
selected_data = df.iloc[0, 1]  # First row, second column ("Age")
print(selected_data)
# Output:
# 25

# b. Multiple Rows and Columns with .iloc[]
selected_data = df.iloc[0:2, 0:2]  # First two rows, first two columns
print(selected_data)
# Output:
#       Name  Age
# 0    Alice   25
# 1      Bob   30

# 4. Boolean Indexing
# a. Boolean indexing to filter rows where Age is greater than 30
filtered_data = df[df['Age'] > 30]
print(filtered_data)
# Output:
#       Name  Age         City
# 2  Charlie   35  Los Angeles

# 5. Using .at[] and .iat[] for Fast Scalar Access
# a. Access single value using .at[] (label-based)
name_value = df.at[0, 'Name']
print(name_value)
# Output:
# Alice

# b. Access single value using .iat[] (position-based)
age_value = df.iat[0, 1]
print(age_value)
# Output:
# 25

# 6. Slicing Data
# a. Slice rows from index 1 to 2 (inclusive)
row_slice = df[1:3]
print(row_slice)
# Output:
#       Name  Age           City
# 1      Bob   30  San Francisco
# 2  Charlie   35    Los Angeles

# 7. Setting Data Using Labels or Indexes
# a. Set value using label-based indexing
df.loc[0, 'Age'] = 26
print(df)

# b. Set value using integer-based indexing
df.iloc[1, 2] = 'SF'
print(df)
# Output after setting values:
#       Name  Age         City
# 0    Alice   26      New York
# 1      Bob   30            SF
# 2  Charlie   35    Los Angeles

# 8. Indexing with Conditions (Boolean Masking)
# a. Select rows where Age > 30
filtered_data = df[df['Age'] > 30]
print(filtered_data)
# Output:
#       Name  Age         City
# 2  Charlie   35  Los Angeles

# 9. Using .query() for Label-Based Querying
# a. Query rows where Age > 30
query_result = df.query('Age > 30')
print(query_result)
# Output:
#       Name  Age         City
# 2  Charlie   35  Los Angeles

# 10. MultiIndex (Hierarchical Indexing)
# a. Create a DataFrame with a MultiIndex
index = pd.MultiIndex.from_tuples([('NY', 'A'), ('SF', 'B'), ('LA', 'C')], names=['City', 'ID'])
df_multi = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}, index=index)
print(df_multi)
# Output:
#             Name  Age
# City ID              
# NY   A      Alice   25
# SF   B        Bob   30
# LA   C    Charlie   35

# b. Access data by MultiIndex
print(df_multi.loc['NY'])  # All data for 'NY'
print(df_multi.loc[('SF', 'B')])  # Specific (City, ID) combination
# Output:
# Name    Alice
# Age        25
# Name: A, dtype: object

# Output:
# Name    Bob
# Age      30
# Name: B, dtype: object

# 11. Handling Missing Data (Null Values)
# a. Handling missing data
df_with_nan = df.reindex([0, 1, 2, 3])
print(df_with_nan)
# Output:
#       Name   Age         City
# 0    Alice  26.0      New York
# 1      Bob  30.0  San Francisco
# 2  Charlie  35.0    Los Angeles
# 3      NaN   NaN           NaN

# b. Fill NaN values
df_filled = df_with_nan.fillna(0)
print(df_filled)
# Output:
#       Name   Age         City
# 0    Alice  26.0      New York
# 1      Bob  30.0  San Francisco
# 2  Charlie  35.0    Los Angeles
# 3        0   0.0             0

0    25
1    30
2    35
Name: Age, dtype: int64
      Name           City
0    Alice       New York
1      Bob  San Francisco
2  Charlie    Los Angeles
Alice
    Name           City
0  Alice       New York
1    Bob  San Francisco
25
    Name  Age
0  Alice   25
1    Bob   30
      Name  Age         City
2  Charlie   35  Los Angeles
Alice
25
      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
      Name  Age           City
0    Alice   26       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
      Name  Age         City
0    Alice   26     New York
1      Bob   30           SF
2  Charlie   35  Los Angeles
      Name  Age         City
2  Charlie   35  Los Angeles
      Name  Age         City
2  Charlie   35  Los Angeles
            Name  Age
City ID
NY   A     Alice   25
SF   B       Bob   30
LA   C   Charlie   35
     Name  Age
ID
A   Alice   25
Name    Bob
Age      30
Name: (SF, B), dtype: object
      Name   Age         City
0    Alice  26.0     New York
1      Bob  30.0           SF
2  Charlie  35.0  Los Angeles
3      NaN   NaN          NaN
      Name   Age         City
0    Alice  26.0     New York
1      Bob  30.0           SF
2  Charlie  35.0  Los Angeles
3        0   0.0            0