In [7]:
import requests

# Sample data
data = {
    'name': 'John Doe',
    'email': 'johndoe@example.com'
}

# Send a POST request to the API
response = requests.post('http://127.0.0.1:5000/data', json=data)
print(response)
if response.status_code == 200:
    print(response.json())
else:
    print('Error:', response.text)

<Response [403]>
Error:

In [8]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [9]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}, index=['A', 'B', 'C'])

# Access data by label
print(df.loc['A', 'Name'])  # Output: 'Alice'
print(df.loc['B', :])       # Access all columns for row 'B'

Alice
Name              Bob
Age                30
City    San Francisco
Name: B, dtype: object

In [10]:
# Access data by integer position
print(df.iloc[0, 0])  # Output: 'Alice' (First row, first column)
print(df.iloc[1, :])  # All columns for the second row (Bob)

Alice
Name              Bob
Age                30
City    San Francisco
Name: B, dtype: object

In [11]:
# Rename row label 'A' to 'Alpha' and column 'Name' to 'First Name'
df_renamed = df.rename(index={'A': 'Alpha'}, columns={'Name': 'First Name'})
print(df_renamed)

      First Name  Age           City
Alpha      Alice   25       New York
B            Bob   30  San Francisco
C        Charlie   35    Los Angeles

In [12]:
# Set 'Name' as the index
df_indexed = df.set_index('Name')
print(df_indexed)

         Age           City
Name
Alice     25       New York
Bob       30  San Francisco
Charlie   35    Los Angeles

In [14]:
# Reset index to default and keep the previous index as a column
df_reset = df_indexed.reset_index(drop=False)
print(df_reset)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [15]:
# MultiIndex with two levels (Location, ID)
index = pd.MultiIndex.from_tuples([('New York', 'A'), ('San Francisco', 'B'), ('Los Angeles', 'C')], names=['City', 'ID'])
df_multi = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}, index=index)
print(df_multi)

                     Name  Age
City          ID
New York      A     Alice   25
San Francisco B       Bob   30
Los Angeles   C   Charlie   35

In [18]:
# Access data for a specific location
# print(df_multi.loc['New York'])
# Access data for a specific (City, ID) combination
print(df_multi.loc[('New York', 'A')])

Name    Alice
Age        25
Name: (New York, A), dtype: object

In [19]:
# Reindexing rows, adding new labels with NaN values
new_index = ['A', 'B', 'C', 'D']
df_reindexed = df.reindex(new_index)
print(df_reindexed)

      Name   Age           City
A    Alice  25.0       New York
B      Bob  30.0  San Francisco
C  Charlie  35.0    Los Angeles
D      NaN   NaN            NaN

In [20]:
# Fill NaN values with 0
df_filled = df_reindexed.fillna(0)
print(df_filled)

      Name   Age           City
A    Alice  25.0       New York
B      Bob  30.0  San Francisco
C  Charlie  35.0    Los Angeles
D        0   0.0              0

In [21]:
# Filter rows where the 'Age' column is greater than 30
mask = df['Age'] > 30
print(df[mask])

      Name  Age         City
C  Charlie   35  Los Angeles

In [22]:
# Access the element at row 'A' and column 'Name'
print(df.at['A', 'Name'])  # Output: 'Alice'

# Access the element at row 0 and column 0
print(df.iat[0, 0])        # Output: 'Alice'

Alice
Alice

In [23]:
# Select columns based on a list of column names
print(df[['Name', 'Age']])  # Select 'Name' and 'Age' columns

      Name  Age
A    Alice   25
B      Bob   30
C  Charlie   35

In [24]:
# Query rows where Age > 30
print(df.query('Age > 30'))

      Name  Age         City
C  Charlie   35  Los Angeles

In [25]:
# Automatic alignment by labels
s = pd.Series([1, 2, 3], index=['A', 'B', 'C'])
print(df['Age'] + s)  # Adds corresponding values by index labels

A    26
B    32
C    38
dtype: int64

In [26]:
data = {'a': 10, 'b': 20, 'c': 30}
s = pd.Series(data)
print(s)

a    10
b    20
c    30
dtype: int64

In [30]:
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(s[s > 20])  # Output: c    30, d    40

c    30
d    40
dtype: int64

In [31]:
s['b'] = 500
print(s)

a     10
b    500
c     30
d     40
dtype: int64

In [32]:
s['new'] = 600  # Adding a new element
print(s)

s = s.drop('new')  # Removing an element
print(s)

a       10
b      500
c       30
d       40
new    600
dtype: int64
a     10
b    500
c     30
d     40
dtype: int64

In [33]:
s1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s2 = pd.Series([4, 5, 6], index=['b', 'c', 'd'])
print(s1 + s2)

a    NaN
b    6.0
c    8.0
d    NaN
dtype: float64

In [34]:
s = pd.Series([1, 2, 3])
print(s * 10)  # Each element will be multiplied by 10

0    10
1    20
2    30
dtype: int64

In [35]:
s = pd.Series([10, 20, 30], index=['x', 'y', 'z'])
print(s)

x    10
y    20
z    30
dtype: int64

In [36]:
s_reset = s.reset_index(drop=True)
print(s_reset)

0    10
1    20
2    30
dtype: int64

In [37]:
new_index = ['a', 'b', 'c', 'd']
s_reindexed = s.reindex(new_index)
print(s_reindexed)

a   NaN
b   NaN
c   NaN
d   NaN
dtype: float64

In [38]:
s_filled = s_reindexed.fillna(0)
print(s_filled)

a    0.0
b    0.0
c    0.0
d    0.0
dtype: float64

In [39]:
s_dropped = s_reindexed.dropna()
print(s_dropped)

Series([], dtype: float64)

In [42]:
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])
combined = pd.concat([s1, s2])
print(combined)

0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64

In [44]:
s_combined = s1._append(s2)
print(s_combined)

0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64

In [45]:
s = pd.Series([1, 2, 3, 4, 5])
print(s.describe())

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [46]:
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])
print(s1.corr(s2))  # Output: 1.0 (perfect correlation)

1.0

In [47]:
s = pd.Series([1, 2, 3])
print(s.apply(lambda x: x**2))

0    1
1    4
2    9
dtype: int64

In [50]:
s = pd.Series([1, 2, 3])
print(s.values)  # Output: [1 2 3]

[1 2 3]

In [51]:
print(s.index)

RangeIndex(start=0, stop=3, step=1)

Hereâ€™s a list of topics in Python Pandas:

1. Introduction to Pandas
2. Series and DataFrames
3. Indexing and Selecting Data
4. Data Types in Pandas
5. Reading and Writing Data (CSV, Excel, SQL, etc.)
6. Data Cleaning and Preprocessing
7. Handling Missing Data
8. Filtering and Sorting Data
9. Merging, Joining, and Concatenating Data
10. GroupBy Operations
11. Aggregation and Descriptive Statistics
12. Pivot Tables and Cross Tabulation
13. Reshaping Data (Melt, Stack, Unstack)
14. Time Series Data
15. Working with Dates and Times
16. Window Functions (Rolling, Expanding)
17. Handling Text Data
18. Advanced Indexing and MultiIndex
19. Data Visualization with Pandas
20. Performance Optimization (Vectorization, Memory Usage)
21. Exporting and Importing Data
22. Handling Duplicates
23. Applying Functions (Apply, Map)
24. Categorical Data
25. Working with JSON and HTML data
26. Working with Large Datasets
27. DataFrame Transformations
28. Handling Outliers
29. Pivot and Unpivot Data
30. Time Zone Handling
31. String Operations
32. Sparse Data Structures
33. Advanced Input/Output Functions