In [1]:
# How to import pandas and check the version?

import pandas as pd

print(pd.__version__)

2.2.2

In [4]:
#  How to create a series from a list, numpy array and dict?

#creation  from list

series =  pd.Series([1,2,3,4])
print(series)

print("\n\n\n")
# cr4eation from numpy array
import numpy as np

arr=np.array([1,2,3,4])
series2=pd.Series(arr)
print(series2)

0    1
1    2
2    3
3    4
dtype: int64




0    1
1    2
2    3
3    4
dtype: int64

In [13]:
# How to convert the index of a series into a column of a dataframe?

series = pd.Series([1,2,3], index=['A','B','C'])
print(series.to_frame("Values").reset_index())

print("\n\n")

  index  Values
0     A       1
1     B       2
2     C       3

In [ ]:
#  How to combine many series to form a dataframe?

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

In [28]:
import pandas as pd
dict={
    "A":[1,2,3,4,5],
    "B":[10,20,30,40,50]
}
df=pd.DataFrame(dict)
df=df.groupby('B').mean()
df

      A
B
10  1.0
20  2.0
30  3.0
40  4.0
50  5.0

In [44]:
dict1={
    "A":[1,2,3,4,5],
    "B":[10,20,30,40,50]
}

dict2={
    "A":[10,20,30,40,50],
    "B":[100,200,300,400,500]
}

df1=pd.DataFrame(dict1)
df2=pd.DataFrame(dict2)

final_df = pd.concat([df1 , df2], axis=0)
final_df = final_df.set_index('A')
print(final_df.index.values)

[ 1  2  3  4  5 10 20 30 40 50]